{% load i18n %}
{% load bootstrap4 %}

<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Task Manager" %}</title>

    {% bootstrap_css %}
</head>

<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'pages:home' %}">{% translate "Task Manager" %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:index' %}">{% translate "Users" %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'statuses:index' %}">{% translate "Statuses" %}</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <!--Should this a post form instead of just a link?-->
                            <a class="nav-link" href="{% url 'users:logout' %}">{% translate "Logout" %}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">{% translate "Login" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:create' %}">{% translate "Registration" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        <div class="container">
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
    </main>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>
