{% extends 'pages/base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <h1 class="mb-3">{% translate "Tasks" %}</h1>
    <a class="btn btn-sm btn-primary mb-3" href="{% url 'tasks:create' %}">{% translate "Create task" %}</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">{% translate "ID" %}</th>
                <th scope="col">{% translate "Name" %}</th>
                <th scope="col">{% translate "Status" %}</th>
                <th scope="col">{% translate "Author" %}</th>
                <th scope="col">{% translate "Executor" %}</th>
                <th scope="col">{% translate "Created at" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td><a href="{% url 'tasks:detail' pk=task.pk %}">{{ task.name }}</a></td>
                    <td>{{ task.status.name }}</td>
                    <td>{{ task.author.get_full_name }}</td>
                    <td>{{ task.executor.get_full_name }}</td>
                    <td>{{ task.created_at }}</td>
                    <td>
                        <a href="{% url 'tasks:update' pk=task.pk %}">{% translate "Update" %}</a>
                        <br>
                        <a href="{% url 'tasks:delete' pk=task.pk %}">{% translate "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
